{% extends "home/base.html" %}
{% block content %}
<div class="container mt-3">
    <h2>Lista de vehículos</h2>
    <a href="{% url 'vehiculo_create' %}" class="btn btn-danger btn-sm">Crear</a>                    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Puertas</th>
                <th>Cilindrada</th>
                <th>Combustible</th>
                <th>País de fabricación</th>
                <th>Precio USD</th>
                <th>Acciones</th> 
            </tr>
        </thead>
        <tbody>
            {% for vehiculo in vehicles %}
            <tr>
                <td>{{ vehiculo.marca.name }}</td>
                <td>{{ vehiculo.modelo.name }}</td>
                <td>{{ vehiculo.cant_puertas }}</td>
                <td>{{ vehiculo.cilindrada }}</td>
                <td>{{ vehiculo.combustible.name }}</td>
                <td>{{ vehiculo.pais_fabricacion.name }}</td>
                <td>{{ vehiculo.precio_en_dolares }}</td>
                <td>
                    <a href="{% url 'vehiculo_update' vehiculo.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'vehiculo_delete' vehiculo.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    <a href="{% url 'comentario_lista' vehiculo.id %}" class="btn btn-info btn-sm">Ver Comentarios</a> 
                    
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
