{% extends "home/base.html" %}
{% block content %}
    {% for image in images %}
        <div class="container mt-5">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{image.vehiculo.marca}} {{ image.vehiculo.modelo}}</h5>
                </div>
                <img src="https://itec-tercero.s3.sa-east-1.amazonaws.com/imagen_vehiculo_{{image.id}}" class="card-img-bottom" alt="Nombre del Vehículo">
            </div>
        </div>
    {% endfor %} 

{% endblock %}